<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>g2w12</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/redirect.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorServlet</location>
  </error-page>
  <servlet>
    <description>
		</description>
    <display-name>
		Login</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>
		com.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>
		AddToCart</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>
		com.cart.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>
		ViewCart</display-name>
    <servlet-name>ViewCartServlet</servlet-name>
    <servlet-class>
		com.cart.ViewCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCartServlet</servlet-name>
    <url-pattern>/ViewCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EBookDownloadPageServlet</display-name>
    <servlet-name>EBookDownloadPageServlet</servlet-name>
    <servlet-class>com.login.EBookDownloadPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EBookDownloadPageServlet</servlet-name>
    <url-pattern>/EBookDownloadPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadEBookServlet</display-name>
    <servlet-name>DownloadEBookServlet</servlet-name>
    <servlet-class>com.login.DownloadEBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadEBookServlet</servlet-name>
    <url-pattern>/DownloadEBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>
		CheckoutCart</display-name>
    <servlet-name>CheckoutCartServlet</servlet-name>
    <servlet-class>
		com.cart.CheckoutCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutCartServlet</servlet-name>
    <url-pattern>/CheckoutCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>
		PostReview</display-name>
    <servlet-name>PostReviewServlet</servlet-name>
    <servlet-class>
		com.view.book.PostReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostReviewServlet</servlet-name>
    <url-pattern>/PostReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientGetTestServlet</display-name>
    <servlet-name>ClientGetTestServlet</servlet-name>
    <servlet-class>test.ClientGetTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientGetTestServlet</servlet-name>
    <url-pattern>/ClientGetTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.login.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/g2w12</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>SurveyManagementServlet</display-name>
    <servlet-name>SurveyManagementServlet</servlet-name>
    <servlet-class>com.survey.SurveyManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyManagementServlet</servlet-name>
    <url-pattern>/SurveyManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderManagementServlet</display-name>
    <servlet-name>OrderManagementServlet</servlet-name>
    <servlet-class>com.manager.orders.OrderManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderManagementServlet</servlet-name>
    <url-pattern>/OrderManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNewOrderServlet</display-name>
    <servlet-name>CreateNewOrderServlet</servlet-name>
    <servlet-class>com.manager.orders.CreateNewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewOrderServlet</servlet-name>
    <url-pattern>/CreateNewOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeMinimumBooksServlet</display-name>
    <servlet-name>ChangeMinimumBooksServlet</servlet-name>
    <servlet-class>com.manager.orders.ChangeMinimumBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMinimumBooksServlet</servlet-name>
    <url-pattern>/ChangeMinimumBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveOrderServlet</display-name>
    <servlet-name>ReceiveOrderServlet</servlet-name>
    <servlet-class>com.manager.orders.ReceiveOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveOrderServlet</servlet-name>
    <url-pattern>/ReceiveOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>com.manager.books.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiscontinuedBooksServlet</display-name>
    <servlet-name>DiscontinuedBooksServlet</servlet-name>
    <servlet-class>com.manager.books.DiscontinuedBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscontinuedBooksServlet</servlet-name>
    <url-pattern>/DiscontinuedBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicizeBookServlet</display-name>
    <servlet-name>PublicizeBookServlet</servlet-name>
    <servlet-class>com.manager.books.PublicizeBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicizeBookServlet</servlet-name>
    <url-pattern>/PublicizeBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdsManagementServlet</display-name>
    <servlet-name>AdsManagementServlet</servlet-name>
    <servlet-class>com.manager.ads.AdsManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdsManagementServlet</servlet-name>
    <url-pattern>/AdsManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCurrentAdsServlet</display-name>
    <servlet-name>SetCurrentAdsServlet</servlet-name>
    <servlet-class>com.manager.ads.SetCurrentAdsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCurrentAdsServlet</servlet-name>
    <url-pattern>/SetCurrentAdsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCurrentBannerServlet</display-name>
    <servlet-name>SetCurrentBannerServlet</servlet-name>
    <servlet-class>com.manager.ads.SetCurrentBannerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCurrentBannerServlet</servlet-name>
    <url-pattern>/SetCurrentBannerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedManagementServlet</display-name>
    <servlet-name>FeedManagementServlet</servlet-name>
    <servlet-class>com.manager.feeds.FeedManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedManagementServlet</servlet-name>
    <url-pattern>/FeedManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNewFeedServlet</display-name>
    <servlet-name>CreateNewFeedServlet</servlet-name>
    <servlet-class>com.manager.feeds.CreateNewFeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewFeedServlet</servlet-name>
    <url-pattern>/CreateNewFeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCurrentFeedServlet</display-name>
    <servlet-name>ChangeCurrentFeedServlet</servlet-name>
    <servlet-class>com.manager.feeds.ChangeCurrentFeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCurrentFeedServlet</servlet-name>
    <url-pattern>/ChangeCurrentFeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurveyResultServlet</display-name>
    <servlet-name>SurveyResultServlet</servlet-name>
    <servlet-class>com.survey.SurveyResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyResultServlet</servlet-name>
    <url-pattern>/SurveyResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.login.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BooksOnSaleServlet</display-name>
    <servlet-name>BooksOnSaleServlet</servlet-name>
    <servlet-class>com.bookAccess.BooksOnSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksOnSaleServlet</servlet-name>
    <url-pattern>/BooksOnSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCurrentSurveyServlet</display-name>
    <servlet-name>ChangeCurrentSurveyServlet</servlet-name>
    <servlet-class>com.survey.ChangeCurrentSurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCurrentSurveyServlet</servlet-name>
    <url-pattern>/ChangeCurrentSurveyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurveyServlet</display-name>
    <servlet-name>SurveyServlet</servlet-name>
    <servlet-class>com.survey.SurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyServlet</servlet-name>
    <url-pattern>/SurveyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBookServlet</display-name>
    <servlet-name>ViewBookServlet</servlet-name>
    <servlet-class>com.view.book.ViewBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBookServlet</servlet-name>
    <url-pattern>/ViewBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.welcome.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NavigationServlet</display-name>
    <servlet-name>NavigationServlet</servlet-name>
    <servlet-class>com.navigation.NavigationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavigationServlet</servlet-name>
    <url-pattern>/NavigationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchResultServlet</display-name>
    <servlet-name>SearchResultServlet</servlet-name>
    <servlet-class>com.search.SearchResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResultServlet</servlet-name>
    <url-pattern>/SearchResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBooksServlet</display-name>
    <servlet-name>ViewBooksServlet</servlet-name>
    <servlet-class>com.view.book.ViewBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBooksServlet</servlet-name>
    <url-pattern>/ViewBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopBooksServelt</display-name>
    <servlet-name>TopBooksServelt</servlet-name>
    <servlet-class>com.view.book.TopBooksServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopBooksServelt</servlet-name>
    <url-pattern>/TopBooksServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowSalesServlet</display-name>
    <servlet-name>AdminShowSalesServlet</servlet-name>
    <servlet-class>com.manager.AdminShowSalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowSalesServlet</servlet-name>
    <url-pattern>/AdminShowSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNewSurveyServlet</display-name>
    <servlet-name>CreateNewSurveyServlet</servlet-name>
    <servlet-class>com.survey.CreateNewSurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewSurveyServlet</servlet-name>
    <url-pattern>/CreateNewSurveyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowAddBookForm</display-name>
    <servlet-name>AdminShowAddBookForm</servlet-name>
    <servlet-class>com.manager.AdminShowAddBookForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowAddBookForm</servlet-name>
    <url-pattern>/AdminShowAddBookForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.manager.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookServlet</display-name>
    <servlet-name>SearchBookServlet</servlet-name>
    <servlet-class>com.manager.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookServlet</servlet-name>
    <url-pattern>/SearchBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowBookServlet</display-name>
    <servlet-name>AdminShowBookServlet</servlet-name>
    <servlet-class>com.manager.AdminShowBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowBookServlet</servlet-name>
    <url-pattern>/AdminShowBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBookServlet</display-name>
    <servlet-name>EditBookServlet</servlet-name>
    <servlet-class>com.manager.EditBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBookServlet</servlet-name>
    <url-pattern>/EditBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterSalesServlet</display-name>
    <servlet-name>AlterSalesServlet</servlet-name>
    <servlet-class>com.manager.AlterSalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterSalesServlet</servlet-name>
    <url-pattern>/AlterSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditBookServlet</display-name>
    <servlet-name>AdminEditBookServlet</servlet-name>
    <servlet-class>com.manager.AdminEditBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditBookServlet</servlet-name>
    <url-pattern>/AdminEditBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowReviewsServlet</display-name>
    <servlet-name>AdminShowReviewsServlet</servlet-name>
    <servlet-class>com.manager.AdminShowReviewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowReviewsServlet</servlet-name>
    <url-pattern>/AdminShowReviewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDecideReviewServlet</display-name>
    <servlet-name>AdminDecideReviewServlet</servlet-name>
    <servlet-class>com.manager.AdminDecideReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDecideReviewServlet</servlet-name>
    <url-pattern>/AdminDecideReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>com.cart.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/RemoveFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchClientsServlet</display-name>
    <servlet-name>AdminSearchClientsServlet</servlet-name>
    <servlet-class>com.manager.AdminSearchClientsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchClientsServlet</servlet-name>
    <url-pattern>/AdminSearchClientsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowClientServlet</display-name>
    <servlet-name>AdminShowClientServlet</servlet-name>
    <servlet-class>com.manager.AdminShowClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowClientServlet</servlet-name>
    <url-pattern>/AdminShowClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditClientServlet</display-name>
    <servlet-name>AdminEditClientServlet</servlet-name>
    <servlet-class>com.manager.AdminEditClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditClientServlet</servlet-name>
    <url-pattern>/AdminEditClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTotalSalesReports</display-name>
    <servlet-name>ShowTotalSalesReports</servlet-name>
    <servlet-class>com.reports.ShowTotalSalesReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTotalSalesReports</servlet-name>
    <url-pattern>/ShowTotalSalesReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowReportMenuServlet</display-name>
    <servlet-name>ShowReportMenuServlet</servlet-name>
    <servlet-class>com.reports.ShowReportMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReportMenuServlet</servlet-name>
    <url-pattern>/ShowReportMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportChooserServlet</display-name>
    <servlet-name>ReportChooserServlet</servlet-name>
    <servlet-class>com.reports.ReportChooserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportChooserServlet</servlet-name>
    <url-pattern>/ReportChooserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalSalesDateChooser</display-name>
    <servlet-name>TotalSalesDateChooser</servlet-name>
    <servlet-class>com.reports.TotalSalesDateChooser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalSalesDateChooser</servlet-name>
    <url-pattern>/TotalSalesDateChooser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesByAuthorDateChooser</display-name>
    <servlet-name>SalesByAuthorDateChooser</servlet-name>
    <servlet-class>com.reports.SalesByAuthorDateChooser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesByAuthorDateChooser</servlet-name>
    <url-pattern>/SalesByAuthorDateChooser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSalesByAuthorReport</display-name>
    <servlet-name>ShowSalesByAuthorReport</servlet-name>
    <servlet-class>com.reports.ShowSalesByAuthorReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSalesByAuthorReport</servlet-name>
    <url-pattern>/ShowSalesByAuthorReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesByClientDateChooser</display-name>
    <servlet-name>SalesByClientDateChooser</servlet-name>
    <servlet-class>com.reports.SalesByClientDateChooser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesByClientDateChooser</servlet-name>
    <url-pattern>/SalesByClientDateChooser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSalesByClientReport</display-name>
    <servlet-name>ShowSalesByClientReport</servlet-name>
    <servlet-class>com.reports.ShowSalesByClientReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSalesByClientReport</servlet-name>
    <url-pattern>/ShowSalesByClientReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesByPublisherDateChooser</display-name>
    <servlet-name>SalesByPublisherDateChooser</servlet-name>
    <servlet-class>com.reports.SalesByPublisherDateChooser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesByPublisherDateChooser</servlet-name>
    <url-pattern>/SalesByPublisherDateChooser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSalesByPublisherReport</display-name>
    <servlet-name>ShowSalesByPublisherReport</servlet-name>
    <servlet-class>com.reports.ShowSalesByPublisherReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSalesByPublisherReport</servlet-name>
    <url-pattern>/ShowSalesByPublisherReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopSellersDateChooser</display-name>
    <servlet-name>TopSellersDateChooser</servlet-name>
    <servlet-class>com.reports.TopSellersDateChooser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopSellersDateChooser</servlet-name>
    <url-pattern>/TopSellersDateChooser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTopSellersReport</display-name>
    <servlet-name>ShowTopSellersReport</servlet-name>
    <servlet-class>com.reports.ShowTopSellersReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTopSellersReport</servlet-name>
    <url-pattern>/ShowTopSellersReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopClientsDateChooser</display-name>
    <servlet-name>TopClientsDateChooser</servlet-name>
    <servlet-class>com.reports.TopClientsDateChooser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopClientsDateChooser</servlet-name>
    <url-pattern>/TopClientsDateChooser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopClientsSellersReport</display-name>
    <servlet-name>TopClientsSellersReport</servlet-name>
    <servlet-class>com.reports.TopClientsSellersReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopClientsSellersReport</servlet-name>
    <url-pattern>/TopClientsSellersReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZeroSalesDateChooser</display-name>
    <servlet-name>ZeroSalesDateChooser</servlet-name>
    <servlet-class>com.reports.ZeroSalesDateChooser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZeroSalesDateChooser</servlet-name>
    <url-pattern>/ZeroSalesDateChooser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZeroSalesReport</display-name>
    <servlet-name>ZeroSalesReport</servlet-name>
    <servlet-class>com.reports.ZeroSalesReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZeroSalesReport</servlet-name>
    <url-pattern>/ZeroSalesReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowReorderReport</display-name>
    <servlet-name>ShowReorderReport</servlet-name>
    <servlet-class>com.reports.ShowReorderReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReorderReport</servlet-name>
    <url-pattern>/ShowReorderReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseReportDatesServlet</display-name>
    <servlet-name>ChooseReportDatesServlet</servlet-name>
    <servlet-class>com.reports.ChooseReportDatesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseReportDatesServlet</servlet-name>
    <url-pattern>/ChooseReportDatesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockReportServlet</display-name>
    <servlet-name>StockReportServlet</servlet-name>
    <servlet-class>com.reports.StockReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockReportServlet</servlet-name>
    <url-pattern>/StockReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>com.cart.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBooksMobileServlet</display-name>
    <servlet-name>ShowBooksMobileServlet</servlet-name>
    <servlet-class>com.mobile.ShowBooksMobileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBooksMobileServlet</servlet-name>
    <url-pattern>/ShowBooksMobileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmCheckoutServlet</display-name>
    <servlet-name>ConfirmCheckoutServlet</servlet-name>
    <servlet-class>com.cart.ConfirmCheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmCheckoutServlet</servlet-name>
    <url-pattern>/ConfirmCheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelpIndexServlet</display-name>
    <servlet-name>HelpIndexServlet</servlet-name>
    <servlet-class>com.help.HelpIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpIndexServlet</servlet-name>
    <url-pattern>/HelpIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AboutUsServlet</display-name>
    <servlet-name>AboutUsServlet</servlet-name>
    <servlet-class>com.help.AboutUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutUsServlet</servlet-name>
    <url-pattern>/AboutUsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.help.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  
</web-app>